/* jssor slider arrow navigator skin 01 css */
/*
.jssora01l              (normal)
.jssora01r              (normal)
.jssora01l:hover        (normal mouseover)
.jssora01r:hover        (normal mouseover)
.jssora01ldn            (mousedown)
.jssora01rdn            (mousedown)
*/
.jssora01l, .jssora01r, .jssora01ldn, .jssora01rdn
{
    position: absolute;
    cursor: pointer;
    display: block;
    background: url("../img/sprite-square.png") no-repeat;
    overflow:hidden;
    width: 54px;
	height: 54px;
	top: 50%;
	z-index:1;
}
.jssora01l, .jssora01ldn {
	background-position: 0px -110px;
	left: 0px;
}
.jssora01r, .jssora01rdn {
	background-position: 0px -55px;
	right: 0px;
}

.captionBlack {
	display:block;
    background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.4);
    z-index: 1;
    position: absolute;
    color: white;
    text-align: center;
    bottom: 0px;
    width:100%;
    font-size:16px;
}

/* Bullet Navigator Skin Begin */
/*
            .jssorb10 div           (normal)
            .jssorb10 div:hover     (normal mouseover)
            .jssorb10 .av           (active)
            .jssorb10 .av:hover     (active mouseover)
            .jssorb10 .dn           (mousedown)
        */
 .jssorb11 div, .jssorb11
 {
     background: url(../img/not-selected.png) no-repeat;
     cursor: pointer;
 }
.jssorb11 .av
{
    background: url(../img/selected.png) no-repeat;
    cursor: pointer;
    right: 0px;
}

#navigation {
	position: absolute;
	bottom: 0;
	height: 0px !important;
	right: 0px !important;
	left: auto !important;
}

/* === SLIDESHOW === */
.desktop{
  width: 900px;
  height: 360px;
}

.mobile{
  width:300px;
  height:128px;
}

.alignh{
	margin-left:auto;
	margin-right:auto;
}

#slider1_container{
	position: relative;
	top: 0px;
	left: 0px;
}

.slides{
	cursor: move;
	position: absolute;
	overflow: hidden;
	left: 0px;
	top: 0px;
}

.pausebutton
{
    position:absolute;
    background: url(../img/sprite-square.png) no-repeat;
    background-position: -55px 0px;
    cursor: pointer;
    width: 54px;
    height: 54px;
    display:block;
    z-index:101;
    top:5px;
    right:5px;
}
.playbutton
{
    position: absolute;
    background: url(../img/sprite-square.png) no-repeat;
    background-position: 0px 0px;
    cursor: pointer;
    width: 54px;
    height: 54px;
    display:none;
    z-index:101;
    top:5px;
    right:5px;
}
