/* jssor slider arrow navigator skin 01 css */
/*
.jssora01l              (normal)
.jssora01r              (normal)
.jssora01l:hover        (normal mouseover)
.jssora01r:hover        (normal mouseover)
.jssora01ldn            (mousedown)
.jssora01rdn            (mousedown)
*/
.jssora01l, .jssora01r, .jssora01ldn, .jssora01rdn
{
    position: absolute;
    cursor: pointer;
    display: block;
    background: url("../img/sprite-square.png") no-repeat;
    overflow:hidden;
}
.jssora01l, .jssora01ldn { background-position: 0px -110px; }
.jssora01r, .jssora01rdn { background-position: 0px -55px; }

.captionBlack {
    background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.4);
    vertical-align: bottom;
}

/* Bullet Navigator Skin Begin */
/*
            .jssorb10 div           (normal)
            .jssorb10 div:hover     (normal mouseover)
            .jssorb10 .av           (active)
            .jssorb10 .av:hover     (active mouseover)
            .jssorb10 .dn           (mousedown)
        */
 .jssorb11 div, .jssorb11 div:hover
 {
     background: url(../img/not-selected.png) no-repeat;
     cursor: pointer;
 }
.jssorb11 .av
{
    background: url(../img/selected.png) no-repeat;
    cursor: pointer;
}
